*{
    color: #466067;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #484450;
  }
  
  .logo img {
    max-width: 100%;
  }
  
  .menu {
    display: none;
    align-items: center;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin-left: 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: #f0dda6;
  }
  
  /* estilo para telas menores */
  @media (max-width: 767px) {
    .menu__item {
        display: block;
        padding: 15px 0;
        padding-left: 40px;
        font-size: xx-large;
      }
    .header {
      flex-direction: column;
    }
    
    .logo {
      margin-bottom: 20px;
    }
    
    .menu-toggle {
      display: block;
      background-color: #f0dda6;
      color: #333;
      border: none;
      padding: 10px;
      font-size: 20px;
      cursor: pointer;
      border: none;
      border-radius: 15%;
      padding: 10px;
    }
    
    .menu-toggle[aria-expanded="true"]::after {
      content: "-";
    }
    
    .menu-toggle[aria-expanded="false"]::after {
      content: "+";
    }
    
    .menu-toggle:focus {
      outline: none;
    }
    
    .menu-toggle:focus:not(:active) {
      background-color: #f0dda6;
    }
    
    .menu-toggle:focus:not(:active)::after {
      content: "-";
    }
    
    .menu-toggle:focus:active {
      background-color: #f0dda6;
    }
    
    .menu-toggle:focus:active::after {
      content: "-";
    }
    
    .menu {
      display: none;
      flex-direction: column;
    }
    
    .menu li {
      margin: 10px 0;
    }
    
    .menu-toggle[aria-expanded="true"] + .menu {
      display: block;
    }
    
    .menu-toggle[aria-expanded="false"] + .menu {
      display: none;
    }
  }
  
  @media (min-width: 768px) {
    .menu-toggle {
      border: none;
      display: none;
      border-radius: 50%;
      color: #333;
    }
    
    .menu {
      display: flex;
    }
  
  }
  body {
    font-family: sans-serif;
}
form {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
input {
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
button {
    margin: 10px;
    padding: 5px;
    background-color: #466067;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
table {
    margin: 20px;
    border-collapse: collapse;
    border: 1px solid black;
}
th, td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}
th {
    background-color: #466067;
    color: white;
}
  
footer {
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #5e827189;
    color: #e6a06f;
    text-align: center;
    opacity: 70%;
    transition: .3s;
  }
  footer:hover{
    opacity: 100%;
    transition: .3s;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contact-info h3 {
    margin-bottom: 10px;
  }
  
  .contact-info p {
    margin-bottom: 5px;
  }
  
  .contact-info i {
    margin-right: 5px;
  }
  